# TAREA

## Integración Montecarlo

1. Realizar las siguientes integrales. Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y cuyas columnas correspondan a las funciones.
    + $\int_{1}^{3} e^{x}\log(x)\text{d}x$.
    + $\int_1^3 \sin(x)\ln(x) \text{d}x$

In [68]:
import numpy as np
def f(x) :
    return np.exp(x) * np.log10(x)

N = 1000
np.random.seed(0)
u = np.random.rand(N) #np.random.rand genera "N" valores aleatorios con distribución uniforme. 
np.mean(f(u))

-0.5741675235151886

In [69]:
import pandas as pd

N = np.logspace(1, 5, 5) 
table = pd.DataFrame(columns=["Aproximación", "Error"], index=N)
table

         Aproximación Error
10.0              NaN   NaN
100.0             NaN   NaN
1000.0            NaN   NaN
10000.0           NaN   NaN
100000.0          NaN   NaN

In [70]:
def montecarlo(f, N, a, b) :
    u = np.random.uniform(a, b, N)
    return np.mean(f(u))*(b-a)

In [71]:
for i in N :
    table.loc[i, "Aproximación"] = montecarlo(f, int(i), 1, 3)
table

         Aproximación Error
10.0         5.616972   NaN
100.0        6.174412   NaN
1000.0       6.377204   NaN
10000.0      5.982592   NaN
100000.0      6.10571   NaN

In [72]:
table["Error"] = np.abs(14.0275 - table["Aproximación"])
table

         Aproximación     Error
10.0         5.616972  8.410528
100.0        6.174412  7.853088
1000.0       6.377204  7.650296
10000.0      5.982592  8.044908
100000.0      6.10571   7.92179

In [73]:
import numpy as np
def f(x) :
    return np.sin(x) * np.log(x)

N = 1000
np.random.seed(0)
u = np.random.rand(N) #np.random.rand genera "N" valores aleatorios con distribución uniforme. 
np.mean(f(u))

-0.2406602616392201

In [74]:
import pandas as pd

N = np.logspace(1, 5, 5) 
table = pd.DataFrame(columns=["Aproximación", "Error"], index=N)
table

         Aproximación Error
10.0              NaN   NaN
100.0             NaN   NaN
1000.0            NaN   NaN
10000.0           NaN   NaN
100000.0          NaN   NaN

In [75]:
def montecarlo(f, N, a, b) :
    u = np.random.uniform(a, b, N)
    return np.mean(f(u))*(b-a)

In [76]:
for i in N :
    table.loc[i, "Aproximación"] = montecarlo(f, int(i), 1, 3)
table

         Aproximación Error
10.0         0.723659   NaN
100.0        0.818573   NaN
1000.0       0.856793   NaN
10000.0      0.868004   NaN
100000.0     0.868943   NaN

In [77]:
table["Error"] = np.abs(0.869844 - table["Aproximación"])
table

         Aproximación     Error
10.0         0.723659  0.146185
100.0        0.818573  0.051271
1000.0       0.856793  0.013051
10000.0      0.868004   0.00184
100000.0     0.868943  0.000901

2. Aproximar el área de la región descrita por

$$x^2+2y^2\leq-2x+8y-7$$

Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y en las columnas el valor de aproximación y el error relativo.

Definir unos límites adecuados $a_1$, $b_1$, $a_2$ y $b_2$, para la región $R=\left[a_1,b_1\right]\times\left[a_2,b_2\right]$

In [10]:
def region(x, y) :
    return ((x**2 + 2*y**2) <= (-2*x + 8*y - 7))

In [11]:
def montecarlo(region, ax, bx, ay, by, N):
    x = np.random.uniform(ax, bx, int(N))
    y = np.random.uniform(ay, by, int(N))
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

In [12]:
VR = np.pi*(2)**0.5

N = np.logspace(1, 5, 5)

table = pd.DataFrame(columns = ["Aproximación", "Error relativo"], index = N)
for i in N :
    table.loc[i, "Aproximación"] = montecarlo(region, -3, 1, 1, 3, int(i))

table["Error relativo"] = np.abs(VR - table["Aproximación"])

table

NameError: name 'np' is not defined

3. Describe 3 casos de uso de integración Montecarlo en tu ingeniería.

#### El generar números aleatorios para posteriormente identificar sus coordenadas y cierta distancia, se aplica para ver si la medida de esta es mayor o menor al radio. Esto ayuda a determinar el porcentaje de riesgo de una inversión, la cantidad de dinero que debe invertirse, entre otros.

#### 2. Calcula la esperanza de una variable aleatoria, para estimar su aproximación y saber si conviene invertirla en la bolsa o en el mercado OTC (Over The Counter)

#### Un ejemplo de este consiste en calcular el área encerrada en un círculo para determinar las posibilidades de que una acción caiga o pueda subir para generar rendimientos